@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    font-family:
      -apple-system, BlinkMacSystemFont, "Hiragino Sans", "Noto Sans JP",
      sans-serif;
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}
